
@{
    ViewData["Title"] = "Purchase Order";
}

<div class="row">
    <div class="col-md-3 col-sm-12">
        <h2 class="text-info">Open Purchase Orders (5)</h2>
    </div>
    <div class="col-md-9">
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalpo1">
            Add New P.O.
        </button>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalvendor">
            Add New Vendor
        </button>
    </div>
</div>
<div class="table-responsive">
    <table id="openpo" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>P.O. Number</th>
                <th>Order Date</th>
                <th>Vendor</th>
                <th>Styles</th>
                <th>Photos</th>
                <th>Remaining</th>
                <th>Shipment Window</th>
                <th>Last Change</th>
                <th>Status</th>
                <th>Check-in</th>
                <th>Edit P.O.</th>
                <th></th>
                <th></th>
                <th>Inspect</th>
                <th>Go Live</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: #FED6D7;">
                <td><a asp-area="" asp-controller="PurchaseOrder" asp-action="Single">278399</a></td>
                <td>3/2/2018</td>
                <td>ASTR</td>
                <td>6</td>
                <td>5</td>
                <td>3</td>
                <td>3/7-3/21/2018</td>
                <td>17 Days</td>
                <td>In Progress</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm">Checked-in</button>
                </td>
                <td>
                    <button type="button" class="btn btn-light btn-sm">Edit</button>
                </td>
                <td>
                    <a href="#"><i class="fa fa-edit h3"></i></a>
                </td>
                <td>
                    <a href="#"><i class="fa fa-upload h3"></i></a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
            </tr>
            <tr>
                <td><a asp-area="" asp-controller="PurchaseOrder" asp-action="Single">278399</a></td>
                <td>3/2/2018</td>
                <td>ASTR</td>
                <td>6</td>
                <td>5</td>
                <td>3</td>
                <td>3/7-3/21/2018</td>
                <td>17 Days</td>
                <td>In Progress</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm">Checked-in</button>
                </td>
                <td>
                    <button type="button" class="btn btn-light btn-sm">Edit</button>
                </td>
                <td>
                    <a href="#"><i class="fa fa-edit h3"></i></a>
                </td>
                <td>
                    <a href="#"><i class="fa fa-upload h3"></i></a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
            </tr>
            <tr>
                <td><a asp-area="" asp-controller="PurchaseOrder" asp-action="Single">278399</a></td>
                <td>3/2/2018</td>
                <td>ASTR</td>
                <td>6</td>
                <td>5</td>
                <td>3</td>
                <td>3/7-3/21/2018</td>
                <td>17 Days</td>
                <td><span class="text-danger"><b>Not Received</b></span></td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modalcheckin">Check-in</button>
                </td>
                <td>
                    <button type="button" class="btn btn-light btn-sm">Edit</button>
                </td>
                <td>
                    <a href="#"><i class="fa fa-edit h3"></i></a>
                </td>
                <td>
                    <a href="#"><i class="fa fa-upload h3"></i></a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
            </tr>
            <tr>
                <td><a asp-area="" asp-controller="PurchaseOrder" asp-action="Single">278399</a></td>
                <td>3/2/2018</td>
                <td>ASTR</td>
                <td>6</td>
                <td>5</td>
                <td>3</td>
                <td>3/7-3/21/2018</td>
                <td>17 Days</td>
                <td>In Progress</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm">Checked-in</button>
                </td>
                <td>
                    <button type="button" class="btn btn-light btn-sm">Edit</button>
                </td>
                <td>
                    <a href="#"><i class="fa fa-edit h3"></i></a>
                </td>
                <td>
                    <a href="#"><i class="fa fa-upload h3"></i></a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
            </tr>
            <tr>
                <td><a asp-area="" asp-controller="PurchaseOrder" asp-action="Single">278399</a></td>
                <td>3/2/2018</td>
                <td>ASTR</td>
                <td>6</td>
                <td>5</td>
                <td>3</td>
                <td>3/7-3/21/2018</td>
                <td>17 Days</td>
                <td>In Progress</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm">Checked-in</button>
                </td>
                <td>
                    <button type="button" class="btn btn-light btn-sm">Edit</button>
                </td>
                <td>
                    <a href="#"><i class="fa fa-edit h3"></i></a>
                </td>
                <td>
                    <a href="#"><i class="fa fa-upload h3"></i></a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
            </tr>
            <tr>
                <td><a asp-area="" asp-controller="PurchaseOrder" asp-action="Single">278399</a></td>
                <td>3/2/2018</td>
                <td>ASTR</td>
                <td>6</td>
                <td>5</td>
                <td>3</td>
                <td>3/7-3/21/2018</td>
                <td>17 Days</td>
                <td>In Progress</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm">Checked-in</button>
                </td>
                <td>
                    <button type="button" class="btn btn-light btn-sm">Edit</button>
                </td>
                <td>
                    <a href="#"><i class="fa fa-edit h3"></i></a>
                </td>
                <td>
                    <a href="#"><i class="fa fa-upload h3"></i></a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>P.O. Number</th>
                <th>Order Date</th>
                <th>Vendor</th>
                <th>Styles</th>
                <th>Photos</th>
                <th>Remaining</th>
                <th>Shipment Window</th>
                <th>Last Change</th>
                <th>Status</th>
                <th>Check-in</th>
                <th>Edit P.O.</th>
                <th></th>
                <th></th>
                <th>Inspect</th>
                <th>Go Live</th>
            </tr>
        </tfoot>
    </table>
</div>