
@{
    ViewData["Title"] = "Photo Management - Shoot not started";
}
@model dynamic 
@section Scripts {
    <script src="~/js/photoshootListing.js" asp-append-version="true"></script>
}

<style>
    .th-dropdown {
        color: #000;
    }

    #openphotoshot td {
        min-height: 50px;
    }

    #openphotoshot td {
        text-align: left;
        vertical-align: middle;
    }

    .add-on .input-group-btn > .btn {
        border-left-width: 0;
        left: -2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    /* stop the glowing blue shadow */
    .add-on .form-control:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
        border-color: #cccccc;
    }

    .shoot-dropdown {
        background: none !important;
        color: #000;
        border: 1px #ccc solid;
        padding: 5px 15px;
        border-radius: 5px;
    }
</style>
<div class="row">
    <div class="col-md-8 col-sm-12">
        <h4 class="">Photo Management - Shoot not started (5 styles)</h4>
    </div>
</div>

<div class="table-responsive pt-5">
    <table id="openphotoshot" class="table table-bordered datatable_js" style="width:100%">
        <thead>
            <tr>
                <th style="width:50px;"> </th>
                <th style="width:90px;">
                    <div class="dropdown">
                        <a class="th-dropdown dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" onclick="selectAllCheckbox()">Select All</a>
                            <a class="dropdown-item" href="#">Move selected to photoshoot</a>
                        </div>
                    </div>
                </th>
                <th>Vendor</th>
                <th>Style Name</th>
                <th>Color</th>
                <th>SKU</th>
                <th>Item Status</th>
                <th> Photoshoot Status </th>
            </tr>
        </thead>
        <tbody>
            <tr style="" id="shootRow504">
                <td class="text-center">
                    <input type="checkbox" class="select-box">
                </td>
                <td><img style="width:85px;" src="https://cdn.shopify.com/s/files/1/1952/2795/products/sonix-ace-sunglasses-FashionPass-1.jpg?v=1522084606"></td>
                <td>Free People</td>
                <td>Drive You Mad Blouse</td>
                <td><b>Sea Foam</b></td>
                <td><b>JS112</b></td>
                <td>Expected 3/10-3/20</td>
                <td>
                    <select class="browser-default custom-select" onchange="AddToShootSingle(504, this.value)">
                        <option value="0" selected>Shoot not started</option>
                        <option value="1">Add to photoshoot</option>
                    </select>
                </td>
            </tr>

            <tr style="">
                <td class="text-center">
                    <input type="checkbox" class="select-box">
                </td>
                <td><img style="width:85px;" src="https://cdn.shopify.com/s/files/1/1952/2795/products/sonix-ace-sunglasses-FashionPass-1.jpg?v=1522084606"></td>
                <td>Free People</td>
                <td>Drive You Mad Blouse</td>
                <td><b>Sea Foam</b></td>
                <td><b>JS112</b></td>
                <td>Expected 3/10-3/20</td>
                <td>
                    <select class="browser-default custom-select">
                        <option selected>Shoot not started</option>
                        <option>Add to photoshoot</option>
                    </select>
                </td>
            </tr>


        </tbody>
    </table>
</div>
 
<!-- Modal PS -->
<div class="modal fade" id="modalAddNewPhotoshoot" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add to photoshoot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form>
                        <input type="hidden" id="AddToPhotoshootProductId" value="" />
                        <div class="form-row">
                            <div> Select which photoshoot to add to:</div>
                            <div class="form-group col-md-12 allPhotoshootList">

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="button" class="btn btn-primary" value="Add" onclick="AddToExistingPhotoshoot()">
                                <span class="error existingShootError text-danger d-none"> Select any Photoshoot please.</span>
                            </div>
                        </div>
                        <div> Or, create a new photoshoot:</div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <select class="custom-select" id="AllModels"></select>
                            </div>
                            <div class="form-group col-md-6">
                                <input id="photoshootDate" name="photoshootDate" value="" type="text" class="form-control" >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="button" class="btn btn-primary" value="Add" onclick="AddToNewPhotoshoot()">
                                <span class="error newShootError text-danger d-none"> Select any Photoshoot Model and date please.</span>
                                
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
