
@{
    ViewData["Title"] = "In-Progress Photoshoots";
}
@model dynamic
@section Scripts {
    <script src="~/js/photoshootListing.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            if ($(".PhotoshootList").length == 0) {
                $("#no_result").fadeIn(200);
            }
            $(".card-header .btn-link:first").click();
        })
    </script>
}

<div class="">
    <div class="accordion" id="accordionShootInProgress">

        @foreach (ProductPhotoshootInProgressRep inProgress in Model.Lists)
        {
        <div class="card PhotoshootList" id="inprogressContainer_@inProgress.photoshoot_id">
            <div class="card-header" id="heading_@inProgress.photoshoot_id" data-photoshootId="@inProgress.photoshoot_id">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse_@inProgress.photoshoot_id">
                        <i class="fa fa-plus"></i>
                        <span class="text-dark font-weight-bold h5">@inProgress.photoshoot_name</span>
                    </button>
                </h2>
            </div>
            <div class="loading-box-light"><div class="spinner-border" role="status" style=" "><span class="sr-only">Loading...</span></div></div>
            <div id="collapse_@inProgress.photoshoot_id" class="collapse" aria-labelledby="heading_@inProgress.photoshoot_id" data-parent="#accordionShootInProgress">

            </div>
        </div>
        }
         
    </div>
</div>

<div class="row" id="no_result" style="display:none;">
    <div class="col-md-12 col-sm-12">
        <h4 class="">Photo In-Progress </h4>
    </div>

    <div class="col-md-12 col-sm-12">
        <p>No data available</p>
    </div>
</div>

<div class="loading-box">
    <div class="inner-loading"><div class="spinner-border  text-light" role="status" style=" "><span class="sr-only">Loading...</span></div></div>
</div>