
<div class="modal fade" id="modaladdstylec" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Style Item to P.O (<span class="poNumber"></span>)  Vendor Code (<span class="poVendor"></span>) SKU Family (<span class="poSkuFamily"></span>) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="newAddStyleForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Link to existing product</label>
                                <select id="ExistingProductSelect" class="form-control">
                                    <option selected data-name="" value="">Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Style Name</label>
                                <input name="StyleName" id="product_title" type="text" class="form-control required">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Color Name</label>
                                <input name="ColorName" id="product_color" type="text" class="form-control required">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Style No</label>
                                <input name="StyleNo" id="product_title_no" type="text" class="form-control required">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Color Code</label>
                                <input name="ColorCode" id="product_color_code" type="text" class="form-control required">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Unit Cost</label>
                                <input name="UnitCost" id="product_unit_cost" type="text" class="form-control required">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Retail</label>
                                <input name="RetailCost" id="product_retail" type="text" class="form-control required">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Type</label>
                                <select id="StyleType" class="form-control required" disabled>
                                    <option selected value="">Choose...</option>
                                    <option value="1">Clothing</option>
                                    <option value="2">Accessories</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Subtype</label>
                                <select id="StyleSubType" class="form-control" disabled>
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row vendorSkuArea">
                            <div class="col-md-8 pt-4">
                                <div id="po_input_fields_wrap" class="po_input_fields_wrap pb-3">
                                    <!---<div class="pb-3 vendorSkuBox">
                    <input type="text" class="form-control d-inline w-25" name="csize[1]" placeholder="Vendor Size">
                    <input type="text" class="form-control d-inline w-25" name="vendorcsize[1]" placeholder="Size">
                    <input type="text" class="form-control d-inline w-25" name="csku[1]" placeholder="SKU">
                    <input type="text" class="form-control d-inline w-25" name="cqty[1]" placeholder="Qty">
                </div>-->
                                </div>
                                <a class="add_field_button text-primary" style="cursor: pointer; margin-top: -15px; display: none;">Add Another</a>
                            </div>
                        </div>
                        <div class="form-row">
                            @*<div class="form-group col-md-8" >
                                    <label>Vendor Notes</label>
                                    <textarea class="form-control"></textarea>
                                </div>*@
                            <div class="form-group col-md-8">
                                <label>Upload Files</label>
                                <input type="file" id="StyleImage" class="form-control" accept="image/x-png,image/gif,image/jpeg" />
                                <div class="style_doc_section d-none"></div>
                            </div>
                            <div class="form-group col-md-4 text-center">
                                <button type="button" id="AddNewStyleButton" data-action="refreshValue" class="btn btn-success btn-sm AddNewStyleButton">Add another style</button><br />
                                <button type="button" id="AddStyleButton" data-action="closepop" class="btn btn-primary btn-sm mt-2 AddNewStyleButton">Add and view P.O.</button><br />
                                <button type="button" class="btn btn-light btn-sm mt-2 add-check-in">Add and check-in</button>
                            </div>
                        </div>
                        <div class="form-row">
                           
                        </div>
                        <input id="po_id" name="po_id" type="hidden" class="form-control">
                        <input id="vendor_id" name="vendor_id" type="hidden" class="form-control">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="poAlertMsg"></div>
                <button type="button" id="DeletefromPOButton" class="btn btn-warning DeletefromPOButton" data-action="refreshValue" style="margin: 0 auto; background-color: #f35d47 !important;">Delete from P.O.</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
