
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="~/images/favicon.png" sizes="32x32">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<body>
    <div class="container d-table h-100">
        <div class="row d-table-cell align-middle">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center"> <img src="~/images/badgerlogosmall.jpg" /></h5>
                        <form action="/auth/trylogin" method="post">
                            <div class="form-label-group">
                                <label for="inputEmail">Email Address</label>
                                <input type="text" id="UserIdentity" name="UserIdentity" class="form-control" placeholder="Email address" required autofocus>
                            </div>
                            <br />
                            <div class="form-label-group">
                                <label for="inputPassword">Password</label>
                                <input type="password" id="UserPass" name="UserPass" class="form-control" placeholder="Password" required>
                            </div>
                            <br />

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" value="Login" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


