
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/auth/trylogin" method="post">
    <input id="UserIdentity" name="UserIdentity" type="text" />
    <input id="UserPass" name="UserPass" type="text" />
    <input value="Login" type="submit" />
</form>


