/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar-nav .dropdown:hover > .dropdown-menu {
    display: block !important;
    margin-top: -5px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-light {
    border: 2px solid grey !important;
}

a:hover {
    text-decoration: none !important;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
    border-right-width: 0px;
    border-left-width: 0px;
}

button.btn.btn-link:hover,
button.btn.btn-link:focus,
button.btn.btn-link:active {
    text-decoration: none;
}

.accordion i {
    margin-right: 5px;
}

.accordion .card-header {
    background: none;
}

.accordion .card-header {
    border-bottom: 0;
}

table.borderless td,
table.borderless th {
    border: none !important;
}

table.vborder td,
table.vborder th {
    border: 1px solid #ced4da !important;
    border-bottom: none !important;
    border-top: none !important;
}

input.edittitlet[type=text] {
    margin-top: 8px;
    display: none;
}

label.edittitlel {
    float: left;
    margin-top: 8px;
}

.edit {
    float: left;
    background: url("../images/edit-btn.png") no-repeat;
    width: 22px;
    height: 22px;
    display: block;
    cursor: pointer;
    margin-left: 10px;
    background-size: contain;
    margin-top: 10px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .porep2 {
        width: 100% !important;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

header {
    margin-bottom: 80px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
.venderRepoBox {
    /*border: 1px solid;*/
    padding: 20px;
    position: relative;
}
.repoCloseBtn {
    position: absolute;
    right: 5px;
    cursor:pointer
}
.red_color{
    color:#ff0000;
 }
 
 .tracking_add_more_box{
     padding: 5px 0;
 }

.porep .btn-group {
    border: 1px solid #ced4da;
    width: 100%;
    border-radius: 0.25rem;
}

    .porep .btn-group button {
        text-align: left;
    }

    .porep .btn-group .multiselect-container {
        transform: none !important;
        top: 42px !important;
    }

[data-toggle="collapse"].collapsed .if-not-collapsed {
    display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
}

.th-dropdown {
    color: #000;
}

#openphotoshot td {
    min-height: 50px;
}

#openphotoshot td {
    text-align: left;
    vertical-align: middle;
}

.add-on .input-group-btn > .btn {
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cccccc;
}

.shoot-dropdown {
    background: none !important;
    color: #000;
    border: 1px #ccc solid;
    padding: 5px 15px;
    border-radius: 5px;
}

.unselect_menu {
    display:none;
}



.red_color {
    color:#ff0000;
}

.tracking_add_more_box {
    padding: 5px 0;
}

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}
.errorFeild{
    border:1px solid red;
}
#newVendorForm .phone {
    text-align: center
}