/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar-nav .dropdown:hover > .dropdown-menu {
    display: block !important;
    margin-top: -5px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-light {
    border: 2px solid grey !important;
}

a:hover {
    text-decoration: none !important;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
    border-right-width: 0px;
    border-left-width: 0px;
}

button.btn.btn-link:hover,
button.btn.btn-link:focus,
button.btn.btn-link:active {
    text-decoration: none;
}

.accordion i {
    margin-right: 5px;
}

.accordion .card-header {
    background: none;
}

.accordion .card-header {
    border-bottom: 0;
}

table.borderless td,
table.borderless th {
    border: none !important;
}

table.vborder td,
table.vborder th {
    border: 1px solid #ced4da !important;
    border-bottom: none !important;
    border-top: none !important;
}

input.edittitlet[type=text] {
    margin-top: 8px;
    display: none;
}

label.edittitlel {
    float: left;
    margin-top: 8px;
}

.edit {
    float: left;
    background: url("../images/edit-btn.png") no-repeat;
    width: 22px;
    height: 22px;
    display: block;
    cursor: pointer;
    margin-left: 10px;
    background-size: contain;
    margin-top: 10px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .porep2 {
        width: 100% !important;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.w-24 {
    width: 24% !important;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

header {
    margin-bottom: 80px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.venderRepoBox {
    /*border: 1px solid;*/
    padding: 20px;
    position: relative;
}

.repoCloseBtn {
    position: absolute;
    right: 5px;
    cursor: pointer
}

.red_color {
    color: #ff0000;
}

.tracking_add_more_box {
    padding: 5px 0;
}

.porep .btn-group {
    border: 1px solid #ced4da;
    width: 100%;
    border-radius: 0.25rem;
}

    .porep .btn-group button {
        text-align: left;
    }

    .porep .btn-group .multiselect-container {
        transform: none !important;
        top: 42px !important;
    }

[data-toggle="collapse"].collapsed .if-not-collapsed {
    display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
}

.th-dropdown {
    color: #000;
}

#openphotoshot td {
    min-height: 50px;
}

#openphotoshot td {
    text-align: left;
    vertical-align: middle;
}

.add-on .input-group-btn > .btn {
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cccccc;
}

.shoot-dropdown {
    background: none !important;
    color: #000;
    border: 1px #ccc solid;
    padding: 5px 15px;
    border-radius: 5px;
}

.unselect_menu {
    display: none;
}



.red_color {
    color: #ff0000;
}

.tracking_add_more_box {
    padding: 5px 0;
}

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

.errorFeild {
    border: 1px solid red;
}

#newVendorForm .phone {
    text-align: center
}

.vendorAlertMsg {
    text-align: left;
    position: relative;
    width: 100%;
}

.loading-box {
    display: table;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 9999;
    position: fixed;
    top: 0px;
    border: 0px;
    left: 0px;
    visibility: hidden;
}

.inner-loading {
    width: 100%;
    height: 100px;
    z-index: 999;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.poAlertMsg {
    text-align: left;
    position: relative;
    width: 100%
}

#newPurchaseOrderForm hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.venderRepoBox {
    border: 1px solid ;
    margin-top: 5px;
}
.venderRepoBox.highlighted {
    box-shadow: 0 -5px 15px rgba(3, 122, 244, 0.62), 0 10px 10px rgba(0,0,0,0.22);
    border: none;
}

.podeleteImage {
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

.ui-widget.ui-widget-content, .ui-front{
    z-index: 9999 !important;
    position:absolute !important;
}
.loading-box-light {
    display: none;
    width: 100%;
    height: 100px;
    z-index: 999;
    text-align: center;
    min-height: 100px;
}
.btn-green {
    background-color: #01BACF;
    color: #fff;
}


.item-sizes {
    font-size:20px;
}


/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.pinkbgclass {
    background: #ffc0cb;
}
.productDetails td i {
    padding: 10px;
    cursor: pointer;
}

.productUploadImg {
    position: relative;
    width: 300px;
    height: 100px;
    border: 4px dashed #00000061;
    text-align: center;
    background: #f6f7f9;
    margin: 0 auto
}

.fileUpload {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    left: 0;
    cursor: pointer;
}

.viewImage img {
    margin: 5px;
    border: 1px solid #80808069;
    cursor:pointer;
}
/*loading image*/
.loaderBox {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100;
    background: black;
    opacity: 0.70;
    z-index: 9;
    display: none;
}
#AddModelBtnDiv {
    text-align:right;
}

.po_tble_list input[type=text] {
    width:105px;
}

.search_result_list {
    width: 350px !important;
    font-size: 14px !important;
    overflow-y: scroll;
    max-height: 300px;
    position: fixed;
}
.search_result_list .li_search {
    clear: both;
    padding: 5px 0px;
    height: 70px;
    display: table;
    width: 100%;
}

.search_result_list .s_img {
    max-height: 80px;
    display: table-cell;
    width: 60px;
    float:left;
}

.search_result_list .s_title {
    white-space: pre-wrap;
    width: 235px;
    float:left;
}

.search_result_list li {
    border-bottom: 1px solid #eee;
    padding: 3px .2em 3px .2em;
}


.ui-menu.search_result_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
    min-width: 180px;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    z-index: 1000;
    box-shadow: 0 1px 3px rgba(0,0,0,.1)
}


.ui-menu.search_result_list .ui-menu-item {
    position: relative;
    margin: 0;
    cursor: pointer;
    padding: 3px .2em 3px .2em;
    min-height: 0;
    outline: 0;
    list-style-image:none;
}

.ui-menu.search_result_list .ui-menu-item > a {
    display: block;
    color: #333
}

.ui-menu.search_result_list .ui-menu-item > i {
    margin-right: 7px
}

.ui-menu.search_result_list .ui-menu-item > .ui-menu-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 15px
}

.ui-menu.search_result_list .ui-menu-item > .ui-menu-icon:after {
    content: '\e9c7';
    font-family: icomoon;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: .8;
    filter: alpha(opacity=80)
}

.ui-menu.search_result_list .ui-state-active, .ui-menu.search_result_list .ui-state-focus {
    color: #333;
    background-color: #f5f5f5
}

/* Multi Select CSS Start*/

.multi-select-container {
    display: inline-block;
    position: relative;
}

.multi-select-menu {
    position: absolute;
    left: 0;
    top: 0.8em;
    float: left;
    min-width: 100%;
    background: #fff;
    margin: 1em 0;
    padding: 0.4em 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
}

    .multi-select-menu input {
        margin-right: 0.3em;
        vertical-align: 0.1em;
    }

.multi-select-button {
    display: inline-block;
    font-size: 0.875em;
    padding: 0.2em 0.6em;
    max-width: 50em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: -0.5em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: default;
    width: 200px;
}

    .multi-select-button:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.4em 0.4em 0 0.4em;
        border-color: #999 transparent transparent transparent;
        margin-left: 0.4em;
        vertical-align: 0.1em;
    }

.multi-select-container--open .multi-select-menu {
    display: block;
}

.multi-select-container--open .multi-select-button:after {
    border-width: 0 0.4em 0.4em 0.4em;
    border-color: transparent transparent #999 transparent;
}
.redDOtElement{
    position: absolute;
    background: red;
    z-index: 9;
    border: 5px solid red;
    border-radius: 50%;
}
.docTypeSection {
    position: absolute;
    background: #28a745;
    z-index: 9;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 200px;
    top: 50%;
    border: 2px solid #000;
    text-align: left;
    color:#000;
}

.docTypeSection div{
    padding: 5px;
}
span.errorMsg {
    position: absolute;
    bottom: -18px;
    left: 5px;
}