@{
    ViewData["Title"] = "Home Page";
}

<h2>Home</h2>


<a href="#" data-toggle="modal" data-target="#modaladdstylec">Add style Item to P.O. &lt;number&gt; - Clothing</a>
<br />
<a href="#" data-toggle="modal" data-target="#modaladdstylea">Add style Item to P.O. &lt;number&gt; - Accessories</a>
<br />
<a asp-area="" asp-controller="PurchaseOrders" asp-action="PurchaseOrdersManagement">P.O. Management Page</a>
<br />
<a asp-area="" asp-controller="Product" asp-action="EditAttributes">Edit Attribute Page</a>
<br />
<a asp-area="" asp-controller="PurchaseOrders" asp-action="Single">Single P.O. Page</a>
<br />
<a asp-area="" asp-controller="PurchaseOrders" asp-action="InventoryReporting">Purchase Orders Inventory - Reporting Page</a>
<br />
<a asp-area="" asp-controller="Home" asp-action="Form">Form Validation</a>