@{
    ViewData["Title"] = "Home Page";
}

<h2>Home</h2>


<a href="#" data-toggle="modal" data-target="#modaladdstylec">Add style Item to P.O. &lt;number&gt; - Clothing</a>
<br />
<a href="#" data-toggle="modal" data-target="#modaladdstylea">Add style Item to P.O. &lt;number&gt; - Accessories</a>