@{
    ViewData["Title"] = "Inventory Reporting";
}

<h4 class="text-center">Inventory Reporting</h4>
<h4>Select Criteria</h4>
<div style="min-height: 500px;">
    <div class="table-responsive" style="overflow-x:visible;">
        <form>
            <table class="table porep">
                <tr>
                    <td style="width: 20%">
                        <label>Type</label>
                        <select class="form-control">
                            <option selected>Clothing</option>
                            <option>Accessories</option>
                        </select>
                    </td>
                    <td style="width: 20%">
                        <label>Date Range</label>
                        <input type="text" class="form-control" id="poreporting">
                    </td>
                    <td style="width: 20%">
                        <label class="d-block">Size</label>
                        <select class="form-control custom-select" id="size" multiple="multiple">
                            <option value="size1">Size 1</option>
                            <option value="size2">Size 2</option>
                            <option value="size3">Size 3</option>
                            <option value="size4">Size 4</option>
                            <option value="size5">Size 5</option>
                            <option value="size6">Size 6</option>
                        </select>
                    </td>
                    <td style="width: 20%">
                        <label class="d-block">Vendor</label>
                        <select class="form-control custom-select" id="vendor" multiple="multiple">
                            <option value="vendor1">Vendor 1</option>
                            <option value="vendor2">Vendor 2</option>
                            <option value="vendor3">Vendor 3</option>
                            <option value="vendor4">Vendor 4</option>
                            <option value="vendor5">Vendor 5</option>
                            <option value="vendor6">Vendor 6</option>
                        </select>
                    </td>
                    <td style="width: 20%">
                        <label class="d-block">Status</label>
                        <select class="form-control custom-select" id="status" multiple="multiple">
                            <option value="status1">Status 1</option>
                            <option value="status2">Status 2</option>
                            <option value="status3">Status 3</option>
                            <option value="status4">Status 4</option>
                            <option value="status5">Status 5</option>
                            <option value="status6">Status 6</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <label class="h5 d-block">Perform Search</label>
                        <button type="button" class="btn btn-primary">SEARCH</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered porep2" style="width:50%">
            <tr>
                <th>

                </th>
                <th>
                    Clothing
                </th>
                <th>
                    XS
                </th>
                <th>
                    S
                </th>
                <th>
                    M
                </th>
                <th>
                    L
                </th>
            </tr>
            <tr>
                <td>
                    <b>Total Styles:</b>
                </td>
                <td>
                    90
                </td>
                <td>
                    40
                </td>
                <td>
                    60
                </td>
                <td>
                    50
                </td>
                <td>
                    10
                </td>
            </tr>
            <tr>
                <td>
                    <b>Total Units:</b>
                </td>
                <td>
                    224
                </td>
                <td>
                    50
                </td>
                <td>
                    80
                </td>
                <td>
                    80
                </td>
                <td>
                    14
                </td>
            </tr>
            <tr>
                <td>
                    <b>Units/Style:</b>
                </td>
                <td>
                    90
                </td>
                <td>
                    40
                </td>
                <td>
                    60
                </td>
                <td>
                    50
                </td>
                <td>
                    10
                </td>
            </tr>
            <tr>
                <td>
                    <b>Total Cost:</b>
                </td>
                <td>
                    90
                </td>
                <td>
                    40
                </td>
                <td>
                    60
                </td>
                <td>
                    50
                </td>
                <td>
                    10
                </td>
            </tr>
        </table>
        <a class="collapsed" data-toggle="collapse" href="#hideshowitems">
            <span class="if-collapsed btn btn-success m-2">View Items</span>
            <span class="if-not-collapsed btn btn-warning m-2">Hide items</span>
        </a>
        <div class="collapse" id="hideshowitems">
            <div class="card card-body">
                <table class="table borderless">
                    <tr>
                        <th>Image</th>
                        <th>Vendor</th>
                        <th>Style</th>
                        <th>XS</th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>Qty</th>
                        <th>Unit Cost</th>
                        <th>Total Cost</th>
                    </tr>
                    <tr>
                        <td><img src="~/images/sample-dress.jpg" height="100" /></td>
                        <td>SHOW ME YOUR MUMU</td>
                        <td>DRIVE YOU MAD BLOUSE</td>
                        <td>3</td>
                        <td>4</td>
                        <td>4</td>
                        <td>3</td>
                        <td>14</td>
                        <td>$20</td>
                        <td>$280</td>
                    </tr>
                    <tr>
                        <td><img src="~/images/sample-dress.jpg" height="100" /></td>
                        <td>SHOW ME YOUR MUMU</td>
                        <td>DRIVE YOU MAD BLOUSE</td>
                        <td>3</td>
                        <td>4</td>
                        <td>4</td>
                        <td>3</td>
                        <td>14</td>
                        <td>$20</td>
                        <td>$280</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered porep2" style="width:50%">
            <tr>
                <th>

                </th>
                <th>
                    Clothing
                </th>
                <th>
                    XS
                </th>
                <th>
                    S
                </th>
                <th>
                    M
                </th>
                <th>
                    L
                </th>
            </tr>
            <tr>
                <td>
                    <b>Total Styles:</b>
                </td>
                <td>
                    90
                </td>
                <td>
                    40
                </td>
                <td>
                    60
                </td>
                <td>
                    50
                </td>
                <td>
                    10
                </td>
            </tr>
            <tr>
                <td>
                    <b>Total Units:</b>
                </td>
                <td>
                    224
                </td>
                <td>
                    50
                </td>
                <td>
                    80
                </td>
                <td>
                    80
                </td>
                <td>
                    14
                </td>
            </tr>
            <tr>
                <td>
                    <b>Units/Style:</b>
                </td>
                <td>
                    90
                </td>
                <td>
                    40
                </td>
                <td>
                    60
                </td>
                <td>
                    50
                </td>
                <td>
                    10
                </td>
            </tr>
            <tr>
                <td>
                    <b>Total Cost:</b>
                </td>
                <td>
                    90
                </td>
                <td>
                    40
                </td>
                <td>
                    60
                </td>
                <td>
                    50
                </td>
                <td>
                    10
                </td>
            </tr>
        </table>
        <a class="collapsed" data-toggle="collapse" href="#hideshowitems2">
            <span class="if-collapsed btn btn-success m-2">View Items</span>
            <span class="if-not-collapsed btn btn-warning m-2">Hide items</span>
        </a>
        <div class="collapse" id="hideshowitems2">
            <div class="card card-body">
                <table class="table borderless">
                    <tr>
                        <th>Image</th>
                        <th>Vendor</th>
                        <th>Style</th>
                        <th>XS</th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>Qty</th>
                        <th>Unit Cost</th>
                        <th>Total Cost</th>
                    </tr>
                    <tr>
                        <td><img src="~/images/sample-dress.jpg" height="100" /></td>
                        <td>SHOW ME YOUR MUMU</td>
                        <td>DRIVE YOU MAD BLOUSE</td>
                        <td>3</td>
                        <td>4</td>
                        <td>4</td>
                        <td>3</td>
                        <td>14</td>
                        <td>$20</td>
                        <td>$280</td>
                    </tr>
                    <tr>
                        <td><img src="~/images/sample-dress.jpg" height="100" /></td>
                        <td>SHOW ME YOUR MUMU</td>
                        <td>DRIVE YOU MAD BLOUSE</td>
                        <td>3</td>
                        <td>4</td>
                        <td>4</td>
                        <td>3</td>
                        <td>14</td>
                        <td>$20</td>
                        <td>$280</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered porep2" style="width:50%">
            <tr>
                <th>

                </th>
                <th>
                    Clothing
                </th>
                <th>
                    XS
                </th>
                <th>
                    S
                </th>
                <th>
                    M
                </th>
                <th>
                    L
                </th>
            </tr>
            <tr>
                <td>
                    <b>Total Styles:</b>
                </td>
                <td>
                    90
                </td>
                <td>
                    40
                </td>
                <td>
                    60
                </td>
                <td>
                    50
                </td>
                <td>
                    10
                </td>
            </tr>
            <tr>
                <td>
                    <b>Total Units:</b>
                </td>
                <td>
                    224
                </td>
                <td>
                    50
                </td>
                <td>
                    80
                </td>
                <td>
                    80
                </td>
                <td>
                    14
                </td>
            </tr>
            <tr>
                <td>
                    <b>Units/Style:</b>
                </td>
                <td>
                    90
                </td>
                <td>
                    40
                </td>
                <td>
                    60
                </td>
                <td>
                    50
                </td>
                <td>
                    10
                </td>
            </tr>
            <tr>
                <td>
                    <b>Total Cost:</b>
                </td>
                <td>
                    90
                </td>
                <td>
                    40
                </td>
                <td>
                    60
                </td>
                <td>
                    50
                </td>
                <td>
                    10
                </td>
            </tr>
        </table>
        <a class="collapsed" data-toggle="collapse" href="#hideshowitems3">
            <span class="if-collapsed btn btn-success m-2">View Items</span>
            <span class="if-not-collapsed btn btn-warning m-2">Hide items</span>
        </a>
        <div class="collapse" id="hideshowitems3">
            <div class="card card-body">
                <table class="table borderless">
                    <tr>
                        <th>Image</th>
                        <th>Vendor</th>
                        <th>Style</th>
                        <th>XS</th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>Qty</th>
                        <th>Unit Cost</th>
                        <th>Total Cost</th>
                    </tr>
                    <tr>
                        <td><img src="~/images/sample-dress.jpg" height="100" /></td>
                        <td>SHOW ME YOUR MUMU</td>
                        <td>DRIVE YOU MAD BLOUSE</td>
                        <td>3</td>
                        <td>4</td>
                        <td>4</td>
                        <td>3</td>
                        <td>14</td>
                        <td>$20</td>
                        <td>$280</td>
                    </tr>
                    <tr>
                        <td><img src="~/images/sample-dress.jpg" height="100" /></td>
                        <td>SHOW ME YOUR MUMU</td>
                        <td>DRIVE YOU MAD BLOUSE</td>
                        <td>3</td>
                        <td>4</td>
                        <td>4</td>
                        <td>3</td>
                        <td>14</td>
                        <td>$20</td>
                        <td>$280</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>