
@{
    ViewData["Title"] = "P.O. Check-in";
}
@model dynamic
@*<table class="table">
        <tr>
            <td>
                <h5>Purchase Order #: <a href="#">35671</a></h5>
                <h5>Vendor Name: <a href="#">Blue Life</a></h5>
            </td>
            <td class="align-middle">
                <button type="button" class="btn btn-light btn-sm">Edit Original P.O.</button>
                <button type="button" class="btn btn-light btn-sm">Add an item</button>
            </td>
            </td>
            <td class="align-middle">
                <span class="text-center d-inline-block">
                    <b>Inspect</b><br /><a href="#">Claim</a>
                </span>
                <span class="text-center d-inline-block pl-4">
                    <b>Go Live</b><br /><a href="#">Claim</a>
                </span>
                <span class="d-inline-block pl-4 align-top pt-2">
                    <b>6 total styles, 5 have photos</b>
                </span>
            </td>
            <td class="align-middle text-right">
                <form action="">
                    <input type="text" placeholder="Quick Find" name="search" class="pl-1 pr-1">
                    <button type="submit" class=""><i class="fa fa-search"></i></button>
                </form>
            </td>
        </tr>
    </table>*@
@foreach (PurchaseOrdersInfo purchaseOrder in Model.POList)
{
    <table class="table">
        <tr>
            <td>
                <h5>Purchase Order #: <a href="#">@purchaseOrder.vendor_po_number</a></h5>
                <h5>Vendor Name: <a href="#">@purchaseOrder.vendor</a></h5>
            </td>
            <td class="align-middle">
                <button type="button" class="btn btn-light btn-sm">Add an item</button>
            </td>
            <td class="align-middle text-right">
                <form action="">
                    <input type="text" placeholder="Quick Find" name="search" class="pl-1 pr-1">
                    <button type="submit" class=""><i class="fa fa-search"></i></button>
                </form>
            </td>
        </tr>
    </table>
    <div class="bs-example">
        <div class="accordion" id="accordionpomgmt">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i> <span class="text-dark font-weight-bold h5">Drive You Made Blouse (DMB109) in Ivory (WH101)</span></button>
                        <a href="#" class="h5 text-primary">Edit Attribute</a>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionpomgmt">
                    <div class="card-body table-responsive">
                        <table class="table text-center borderless" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Size</th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                    <th>Image</th>
                                    <th>Weight</th>
                                    <th>SKU</th>
                                    <th>Barcode</th>
                                    <th>Publish</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus"></i> <span class="text-dark font-weight-bold h5">Faded Denim Pant (DP007) in Blue (BL)</span></button>
                        <a href="#" class="h5 text-primary">Edit Attribute</a>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionpomgmt">
                    <div class="card-body table-responsive">
                        <table class="table text-center borderless" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Size</th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                    <th>Image</th>
                                    <th>Weight</th>
                                    <th>SKU</th>
                                    <th>Barcode</th>
                                    <th>Publish</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i> <span class="text-dark font-weight-bold h5">Perfect Plunge Maxi Dress (MXDR123) in Red (RD)</span></button>
                        <a href="#" class="h5 text-primary">Edit Attribute</a>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionpomgmt">
                    <div class="card-body table-responsive">
                        <table class="table text-center borderless" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Size</th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                    <th>Image</th>
                                    <th>Weight</th>
                                    <th>SKU</th>
                                    <th>Barcode</th>
                                    <th>Publish</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>

                                    <td>XS</td>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea class="form-control" cols="50"></textarea>
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm">Publish</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}