@{
    ViewData["Title"] = "PurchaseOrdersCheckIn";
}
<div class="accordion" id="accordionpocheck">
    <div class="card">
        <div class="card-header" id="headingOnecheck">
            <div class="row">
                <div class="col-md-3 col-sm-10  col-xs-10">
                    <a data-toggle="collapse" data-target="#collapseOnecheck" style="cursor: pointer;">
                        <h5>Purchase Order #: <a href="#">35671</a></h5>
                    </a>
                    <h5>Vendor Name: <a href="#">Blue Life</a></h5>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <button type="button" class="btn btn-light btn-sm">
                        Edit Original PO
                    </button>
                    <button type="button" class="btn btn-light btn-sm">
                        Add an item
                    </button>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12" style="white-space: nowrap">
                    <span class="text-center d-inline-block">
                        <b>Inspect</b><br /><a href="#">Claim</a>
                    </span>
                    <span class="text-center d-inline-block pl-4">
                        <b>Go Live</b><br /><a href="#">Claim</a>
                    </span>
                    <span class="d-inline-block pl-4 align-top pt-2">
                        <b>6 total styles, 5 have photos, 3 are live</b>
                    </span>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                    <form action="">
                        <input type="text" placeholder="Quick Find" name="search" class="pl-1 pr-1">
                        <button type="submit" class=""><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div id="collapseOnecheck" class="collapse show" aria-labelledby="headingOnecheck" data-parent="#accordionpocheck">
            <div class="card-body table-responsive">
                <div class="accordion" id="accordionpoinnercheck">
                    <div class="card">
                        <div class="card-header" id="headinginnerOne">
                            <div class="float-left table-responsive">
                                <table class="table table-borderless m-0">
                                    <tr>
                                        <td>
                                            <img src="~/images/sample-dress.jpg" style="height: 100px;" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-link mt-0 pt-0" data-toggle="collapse" data-target="#collapseinnerOne"><i class="fa fa-plus"></i></button>
                                        </td>
                                        <td>
                                            <span class="text-dark font-weight-bold h5">Drive You Made Blouse (DMB109) in Ivory (WH101)</span>
                                        </td>
                                        <td>
                                            <a href="#" class="h5 text-primary">Edit Attribute</a>
                                        </td>
                                        <td>
                                            <img src="~/images/check-green.jpg" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success">Edit Fabric</button>
                                        </td>
                                        <td>
                                            XS (1) &nbsp; S (2) &nbsp; M (1) &nbsp; L (1)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success">ADD WEIGHT</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success">Edit Style</button>
                                        </td>
                                        <td>
                                            <select class="form-control">
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="collapseinnerOne" class="collapse show" aria-labelledby="headinginnerOne" data-parent="#accordionpoinnercheck">
                            <div class="card-body table-responsive">
                                <table class="table text-center borderless" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Size</th>
                                            <th>Status</th>
                                            <th>RA Status</th>
                                            <th>Notes</th>
                                            <th>Image</th>
                                            <th>SKU</th>
                                            <th>Barcode</th>
                                            <th>Bag Number</th>
                                            <th>Save</th>
                                            <th>Go live</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="11">
                                                <div class="accordion" id="accordionsize1">
                                                    <div class="card border-0">
                                                        <div class="card-header" id="headingsizeOne">
                                                            <table class="table table-borderless">
                                                                <tr>
                                                                    <td style="position: absolute; left: -25px; top: 5px;"><button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapsesizeOne"><i class="fa fa-plus"></i></button></td>
                                                                    <td>XS</td>
                                                                    <td>
                                                                        <input class="form-check-input" type="checkbox">
                                                                        <select class="form-control d-inline">
                                                                            <option selected>Choose...</option>
                                                                            <option>...</option>
                                                                        </select>
                                                                    </td>
                                                                    <td>
                                                                        <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                                                    </td>
                                                                    <td>
                                                                        <textarea class="form-control" cols="50"></textarea>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#"><i class="fa fa-upload h3"></i></a>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" />
                                                                    </td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-primary btn-sm">Save</button>
                                                                    </td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                                                    </td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                                                    </td>
                                                                </tr>
                                                            </table>

                                                        </div>
                                                        <div id="collapsesizeOne" class="collapse" aria-labelledby="headingsizeOne" data-parent="#accordionsize1">
                                                            <div class="card-body">
                                                                <table class="table table-borderless">
                                                                    <tr>
                                                                        <td>XS</td>
                                                                        <td>
                                                                            <input class="form-check-input" type="checkbox">
                                                                            <select class="form-control d-inline">
                                                                                <option selected>Choose...</option>
                                                                                <option>...</option>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                                                        </td>
                                                                        <td>
                                                                            <textarea class="form-control" cols="50"></textarea>
                                                                        </td>
                                                                        <td>
                                                                            <a href="#"><i class="fa fa-upload h3"></i></a>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" />
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" />
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" />
                                                                        </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-primary btn-sm">Save</button>
                                                                        </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                                                        </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headinginnerTwo">
                            <div class="float-left table-responsive">
                                <table class="table table-borderless m-0">
                                    <tr>
                                        <td>
                                            <img src="~/images/sample-dress.jpg" style="height: 100px;" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-link mt-0 pt-0" data-toggle="collapse" data-target="#collapseinnerTwo"><i class="fa fa-plus"></i></button>
                                        </td>
                                        <td>
                                            <span class="text-dark font-weight-bold h5">Drive You Made Blouse (DMB109) in Ivory (WH101)</span>
                                        </td>
                                        <td>
                                            <a href="#" class="h5 text-primary">Edit Attribute</a>
                                        </td>
                                        <td>
                                            <img src="~/images/check-green.jpg" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success">Edit Fabric</button>
                                        </td>
                                        <td>
                                            XS (1) &nbsp; S (2) &nbsp; M (1) &nbsp; L (1)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success">ADD WEIGHT</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success">Edit Style</button>
                                        </td>
                                        <td>
                                            <select class="form-control">
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="collapseinnerTwo" class="collapse" aria-labelledby="headinginnerTwo" data-parent="#accordionpoinnercheck">
                            <div class="card-body table-responsive">
                                <table class="table text-center borderless" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Size</th>
                                            <th>Status</th>
                                            <th>RA Status</th>
                                            <th>Notes</th>
                                            <th>Image</th>
                                            <th>SKU</th>
                                            <th>Barcode</th>
                                            <th>Bag Number</th>
                                            <th>Save</th>
                                            <th>Go live</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headinginnerThree">
                            <div class="float-left table-responsive">
                                <table class="table table-borderless m-0">
                                    <tr>
                                        <td>
                                            <img src="~/images/sample-dress.jpg" style="height: 100px;" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-link mt-0 pt-0" data-toggle="collapse" data-target="#collapseinnerThree"><i class="fa fa-plus"></i></button>
                                        </td>
                                        <td>
                                            <span class="text-dark font-weight-bold h5">Drive You Made Blouse (DMB109) in Ivory (WH101)</span>
                                        </td>
                                        <td>
                                            <a href="#" class="h5 text-primary">Edit Attribute</a>
                                        </td>
                                        <td>
                                            <img src="~/images/check-green.jpg" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success">Edit Fabric</button>
                                        </td>
                                        <td>
                                            XS (1) &nbsp; S (2) &nbsp; M (1) &nbsp; L (1)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success">ADD WEIGHT</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success">Edit Style</button>
                                        </td>
                                        <td>
                                            <select class="form-control">
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="collapseinnerThree" class="collapse" aria-labelledby="headinginnerThree" data-parent="#accordionpoinnercheck">
                            <div class="card-body table-responsive">
                                <table class="table text-center borderless" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Size</th>
                                            <th>Status</th>
                                            <th>RA Status</th>
                                            <th>Notes</th>
                                            <th>Image</th>
                                            <th>SKU</th>
                                            <th>Barcode</th>
                                            <th>Bag Number</th>
                                            <th>Save</th>
                                            <th>Go live</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwocheck">
            <div class="row">
                <div class="col-md-3 col-sm-10  col-xs-10">
                    <a data-toggle="collapse" data-target="#collapseTwocheck" style="cursor: pointer;">
                        <h5>Purchase Order #: <a href="#">35671</a></h5>
                    </a>
                    <h5>Vendor Name: <a href="#">Blue Life</a></h5>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <button type="button" class="btn btn-light btn-sm">
                        Edit Original PO
                    </button>
                    <button type="button" class="btn btn-light btn-sm">
                        Add an item
                    </button>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12" style="white-space: nowrap">
                    <span class="text-center d-inline-block">
                        <b>Inspect</b><br /><a href="#">Claim</a>
                    </span>
                    <span class="text-center d-inline-block pl-4">
                        <b>Go Live</b><br /><a href="#">Claim</a>
                    </span>
                    <span class="d-inline-block pl-4 align-top pt-2">
                        <b>6 total styles, 5 have photos, 3 are live</b>
                    </span>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                    <form action="">
                        <input type="text" placeholder="Quick Find" name="search" class="pl-1 pr-1">
                        <button type="submit" class=""><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div id="collapseTwocheck" class="collapse" aria-labelledby="headingTwocheck" data-parent="#accordionpocheck">
            <div class="card-body table-responsive">
                <div class="accordion" id="accordionpoinnercheck2">
                    <div class="card">
                        <div class="card-header" id="headinginnerOne2">
                            <div class="float-left table-responsive">
                                <table class="table table-borderless m-0">
                                    <tr>
                                        <td>
                                            <img src="~/images/sample-dress.jpg" style="height: 100px;" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-link mt-0 pt-0" data-toggle="collapse" data-target="#collapseinnerOne2"><i class="fa fa-plus"></i></button>
                                        </td>
                                        <td>
                                            <span class="text-dark font-weight-bold h5">Drive You Made Blouse (DMB109) in Ivory (WH101)</span>
                                        </td>
                                        <td>
                                            <a href="#" class="h5 text-primary">Edit Attribute</a>
                                        </td>
                                        <td>
                                            <img src="~/images/check-green.jpg" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success">Edit Fabric</button>
                                        </td>
                                        <td>
                                            XS (1) &nbsp; S (2) &nbsp; M (1) &nbsp; L (1)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success">ADD WEIGHT</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success">Edit Style</button>
                                        </td>
                                        <td>
                                            <select class="form-control">
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="collapseinnerOne2" class="collapse show" aria-labelledby="headinginnerOne2" data-parent="#accordionpoinnercheck2">
                            <div class="card-body table-responsive">
                                <table class="table text-center borderless" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Size</th>
                                            <th>Status</th>
                                            <th>RA Status</th>
                                            <th>Notes</th>
                                            <th>Image</th>
                                            <th>SKU</th>
                                            <th>Barcode</th>
                                            <th>Bag Number</th>
                                            <th>Save</th>
                                            <th>Go live</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headinginnerTwo2">
                            <div class="float-left table-responsive">
                                <table class="table table-borderless m-0">
                                    <tr>
                                        <td>
                                            <img src="~/images/sample-dress.jpg" style="height: 100px;" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-link mt-0 pt-0" data-toggle="collapse" data-target="#collapseinnerTwo2"><i class="fa fa-plus"></i></button>
                                        </td>
                                        <td>
                                            <span class="text-dark font-weight-bold h5">Drive You Made Blouse (DMB109) in Ivory (WH101)</span>
                                        </td>
                                        <td>
                                            <a href="#" class="h5 text-primary">Edit Attribute</a>
                                        </td>
                                        <td>
                                            <img src="~/images/check-green.jpg" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success">Edit Fabric</button>
                                        </td>
                                        <td>
                                            XS (1) &nbsp; S (2) &nbsp; M (1) &nbsp; L (1)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success">ADD WEIGHT</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success">Edit Style</button>
                                        </td>
                                        <td>
                                            <select class="form-control">
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="collapseinnerTwo2" class="collapse" aria-labelledby="headinginnerTwo2" data-parent="#accordionpoinnercheck2">
                            <div class="card-body table-responsive">
                                <table class="table text-center borderless" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Size</th>
                                            <th>Status</th>
                                            <th>RA Status</th>
                                            <th>Notes</th>
                                            <th>Image</th>
                                            <th>SKU</th>
                                            <th>Barcode</th>
                                            <th>Bag Number</th>
                                            <th>Save</th>
                                            <th>Go live</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>


                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headinginnerThree2">
                            <div class="float-left table-responsive">
                                <table class="table table-borderless m-0">
                                    <tr>
                                        <td>
                                            <img src="~/images/sample-dress.jpg" style="height: 100px;" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-link mt-0 pt-0" data-toggle="collapse" data-target="#collapseinnerThree2"><i class="fa fa-plus"></i></button>
                                        </td>
                                        <td>
                                            <span class="text-dark font-weight-bold h5">Drive You Made Blouse (DMB109) in Ivory (WH101)</span>
                                        </td>
                                        <td>
                                            <a href="#" class="h5 text-primary">Edit Attribute</a>
                                        </td>
                                        <td>
                                            <img src="~/images/check-green.jpg" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success">Edit Fabric</button>
                                        </td>
                                        <td>
                                            XS (1) &nbsp; S (2) &nbsp; M (1) &nbsp; L (1)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success">ADD WEIGHT</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success">Edit Style</button>
                                        </td>
                                        <td>
                                            <select class="form-control">
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="collapseinnerThree2" class="collapse" aria-labelledby="headinginnerThree2" data-parent="#accordionpoinnercheck2">
                            <div class="card-body table-responsive">
                                <table class="table text-center borderless" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Size</th>
                                            <th>Status</th>
                                            <th>RA Status</th>
                                            <th>Notes</th>
                                            <th>Image</th>
                                            <th>SKU</th>
                                            <th>Barcode</th>
                                            <th>Bag Number</th>
                                            <th>Save</th>
                                            <th>Go live</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>XS</td>
                                            <td>
                                                <input class="form-check-input" type="checkbox">
                                                <select class="form-control d-inline">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" style="margin: 0 auto; vertical-align: middle; position: relative;">
                                            </td>
                                            <td>
                                                <textarea class="form-control" cols="50"></textarea>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-upload h3"></i></a>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm">Save</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm">Go Live</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>