
@{
    ViewData["Title"] = "Single P.O.";
}
@section Scripts {
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/purchaseOrdersListingPage.js" asp-append-version="true"></script>
}
<div class="row">
    <div class="col-md-3 col-sm-10  col-xs-10">
        <h4 class="text-dark">Purchase Order #: <a href="#" class="orderNumber"></a></h4>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <button type="button" class="btn btn-light btn-sm">
            Add an item
        </button>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12" style="white-space: nowrap">
        <span class="text-center d-inline-block">
            <b>Inspect</b><br /><a href="#">Claim</a>
        </span>
        <span class="text-center d-inline-block pl-4">
            <b>Go Live</b><br /><a href="#">Claim</a>
        </span>
        <span class="d-inline-block pl-4 align-top pt-2">
            <b>6 total styles, 5 have photos</b>
        </span>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 text-right">
        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modalcheckin">
            Check-in
        </button>
        <button type="button" class="btn btn-danger btn-sm">
            Delete this P.O.
        </button>
    </div>
</div>
<div class="row pt-5">
    <div class="col-md-8" style="    margin: 0 auto;">
        <form id="newPurchaseOrderForm" data-currentid="" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Vendor Name</label>
                    <select id="poVendor" class="form-control d-inline-block" style="width: 90%">
                        <option selected>Choose...</option>
                        @foreach (Vendor vendor in Model.GetVendorsNameAndId)
                        {
                            <option value="@vendor.vendor_id">@vendor.vendor_name</option>
                        }
                    </select>
                    <a href="#" class="h4" data-toggle="modal" data-target="#modalvendor">+</a>
                </div>
                <div class="form-group col-md-6">
                    <label>Order Delivery Range</label>
                    <input type="text" class="form-control" id="poDelieveryRange">
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>P.O. Number</label>
                    <input type="text" class="form-control" id="poNumber">
                </div>
                <div class="form-group col-md-6">
                    <label>Total Styles</label>
                    <input type="text" class="form-control" id="poTotalStyles">
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Invoice Number</label>
                    <input type="text" class="form-control" id="poInvoiceNumber">
                </div>
                <div class="form-group col-md-6">
                    <label>Total Quantity</label>
                    <input type="text" class="form-control" id="poTotalQuantity">
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Order Number</label>
                    <input type="text" class="form-control" id="poOrderNumber">
                </div>
                <div class="form-group col-md-6">
                    <label>Subtotal</label>
                    <input type="text" class="form-control" id="poSubtotal">
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Order Date</label>
                    <input type="text" class="form-control" id="poOrderDate">
                </div>
                <div class="form-group col-md-6">
                    <label>Shipping &amp; Handling</label>
                    <input type="text" class="form-control" id="poShipping">
                </div>
            </div>
            <hr />
            <div class="form-row po_section">
                <div class="form-group col-md-6">
                    <label>Tracking #</label>
                    <input type="text" class="form-control d-inline-block poTracking" name="poTracking[]" style="width: 90%">
                    <a href="#" class="h4 add_tracking">+</a>

                    <div id="wrapper_tracking"></div>

                </div>
                <div class="col-md-6 text-right">
                    <br />
                    <a href="#" data-toggle="modal" data-target="#modaladdinvoice">Add Invoice Adjustment</a>
                    <br />
                    <a href="#" data-toggle="modal" data-target="#modaladddiscount">Add Discount %</a>

                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Upload Images</label>
                    <input type="file" class="form-control" id="poUploadImage" name="poUploadImage" multiple>

                    <div class="po_doc_section d-none"></div>
                </div>
                <div class="form-group col-md-6">
                    <label>Purchase Order Notes</label>
                    <textarea class="form-control" id="poNotes"></textarea>
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <button type="button" class="btn btn-primary" id="EditPurchaseOrderButton" style="margin: 0 auto;">Save</button>
                </div>
                <div class="form-group col-md-8">
                    <div class="poAlertMsg"></div>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-6">
        <span class="h6 pb-2 d-block">Calculated totals:<br />6 styles, 71 units, total cost $1.245.50</span>
        <table class="w-100 table-bordered">
            <tr>
                <td width="60"><img src="~/images/dress-clipart.jpg" width="50" /></td>
                <td class="h6">Faded Denim Pant (DP007) in Blue (BL) - AD114</td>
                <td><a href="#" class="h6 text-success">Edit Style</a></td>
                <td><a href="#" class="h6 text-primary">Edit Attributes</a></td>
                <td><a href="#" class="h6 text-danger">Remove</a></td>
            </tr>
            <tr>
                <td width="60"><img src="~/images/dress-clipart.jpg" width="50" /></td>
                <td class="h6">Faded Denim Pant (DP007) in Blue (BL) - AD114</td>
                <td><a href="#" class="h6 text-success">Edit Style</a></td>
                <td><a href="#" class="h6 text-primary">Edit Attributes</a></td>
                <td><a href="#" class="h6 text-danger">Remove</a></td>
            </tr>
            <tr>
                <td width="60"><img src="~/images/dress-clipart.jpg" width="50" /></td>
                <td class="h6">Faded Denim Pant (DP007) in Blue (BL) - AD114</td>
                <td><a href="#" class="h6 text-success">Edit Style</a></td>
                <td><a href="#" class="h6 text-primary">Edit Attributes</a></td>
                <td><a href="#" class="h6 text-danger">Remove</a></td>
            </tr>
            <tr>
                <td width="60"><img src="~/images/dress-clipart.jpg" width="50" /></td>
                <td class="h6">Faded Denim Pant (DP007) in Blue (BL) - AD114</td>
                <td><a href="#" class="h6 text-success">Edit Style</a></td>
                <td><a href="#" class="h6 text-primary">Edit Attributes</a></td>
                <td><a href="#" class="h6 text-danger">Remove</a></td>
            </tr>
            <tr>
                <td width="60"><img src="~/images/dress-clipart.jpg" width="50" /></td>
                <td class="h6">Faded Denim Pant (DP007) in Blue (BL) - AD114</td>
                <td><a href="#" class="h6 text-success">Edit Style</a></td>
                <td><a href="#" class="h6 text-primary">Edit Attributes</a></td>
                <td><a href="#" class="h6 text-danger">Remove</a></td>
            </tr>
        </table>
    </div>
</div>
<!-- Modal Add Invoice -->
<div class="modal fade" id="modaladdinvoice" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ledgerModalLongTitle">Add an Invoice Adjustment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="ledger_form" data-adjustment="">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Adjustment</label>
                                <select id="ledger_adjustment" name="ledger_adjustment" class="form-control">
                                    <option selected>Choose...</option>
                                    <option value="credit">Credit</option>
                                    <option value="debit">Debit</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Amount</label>
                                <input type="text" class="form-control" id="ledger_amount" name="ledger_amount" placeholder="$">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Note</label>
                                <input type="text" class="form-control" id="ledger_note" name="ledger_note">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ledger_submit" style="margin: 0 auto;">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Discount -->
<div class="modal fade" id="modaladddiscount" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="discountModalLongTitle">Add Discount %</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="discount_form" data-discount="">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Discount</label>
                                <input type="text" class="form-control" id="discount_percentage" name="discount" placeholder="%">
                            </div>
                            <div class="form-group col-md-8">
                                <label>Note</label>
                                <input type="text" class="form-control" id="discount_note" name="discount_note">
                            </div>
                        </div>
                        <div class="text-center w-100">
                            <span class="text-danger"><b>IMPORTANT:</b> </span>Your unit costs should be inputted with discounts already applied to them.
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="discount_submit" style="margin: 0 auto;">Submit</button>
            </div>
        </div>
    </div>
</div>